################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/PermissionManagementSystem/.vs

_ReSharper.*

[Tt]est[Rr]esult*/

*.nuget.*
*.nupkg/
*.paket/

*.user
*.suo
*.cache
*.vspscc
*.vsmdi
*.ldb
*.bak

Thumbs.db
[Tt]est[Ff]ile*
*.log
*.vsix
ppsettings.json
